# 環境モード設定(development || production)
setEnv APPLICATION_ENV production

# ^ ファイルの先頭が一致
# $ ファイルの最後が一致
# * ワイルドカード
# ? １文字ワイルドカード

# アクセス不可能なファイル
<Files ~ "^\.ht*|functions.php|\.xml$">
deny from all
</Files>


# Slim テンプレート
RewriteEngine ON
#RewriteBase /

# index.phpで全処理を行う
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [QSA,NS,L]

# 指定サブディレクトリ以下にアクセスを禁止
RewriteRule vendor/(.*) index.php/$1 [QSA,NS,L]
RewriteRule templates/(.*) index.php/$1 [QSA,NS,L]
RewriteRule application/(.*) index.php/$1 [QSA,NS,L]



# HTMLの<form>に自動的にhiddenを付ける場合(On, Off)
php_flag session.use_trans_sid On

# セッション情報の存続期間を設定
php_value session.gc_maxlifetime 3600


php_value upload_max_filesize 5000M
php_value post_max_size 5000M
