{{#file}}
  <div id="upLoads-thumb">
    <img src="{{dir}}/uploads/{{thumb}}.jpg" alt="">
    <a href="#" id="upLoads-delete" class="jsClick-thumbDel"><span class="fa fa-trash-o"></span></a>
  </div>
{{/file}}
