<div id="header">
  <h1 id="header-title">{{ ini.team_name|raw }}</h1>

  <a href="#" id="header-listMenu"><i class="closeList fa fa-list"></i><i class="openList fa fa-map-marker"></i></a>
  <!-- /#header-listMenu -->
</div>
<!-- /#header -->
